/* STYLES RESET */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* GENERAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    /* prettier-ignore */
    background-image: linear-gradient(to top, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    min-height: 100vh;

    font-family: "Kumbh Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #1e1f36;
}

.heading-1 {
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
}

.main {
    position: relative;
}

/* CARD */

.card {
    width: 92rem;
    height: 50.9rem;
    background-color: #fff;
    border-radius: 2.3rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5rem 5rem -3rem;

    display: grid;
    grid-template-columns: 1fr 35rem;

    padding-top: 6.5rem;
    padding-bottom: 8.3rem;
    padding-right: 9.5rem;

    position: relative;
    overflow: hidden;
}

/* COL LEFT */

.card__col-left {
}

.bg-pattern {
    position: absolute;
    left: -58rem;
    top: -29.5rem;
    width: 96.6rem;
    height: 94.5rem;
}

.bg-pattern--mobile {
    display: none;
}

.bg-woman {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -8.8rem;
    width: 47.2rem;
    height: 35.9rem;
}

.bg-woman--mobile {
    display: none;
}

.bg-box {
    position: absolute;
    top: 21rem;
    left: -9.3rem;
    z-index: 10;
    width: 19.1rem;
    height: 18.4rem;
}

/* COL RIGHT */

.card__col-right {
    margin-left: auto;
}

.card__box {
    width: 35rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    border-bottom: 0.1rem solid #e8e8ea;
    position: relative;
    cursor: pointer;

    height: 5.8rem;
    transition: height 0.2s;
}

.card__box--active {
    height: 9.9rem;
}

.card__qn {
    font-size: 1.4rem;
    color: #4b4c5f;
    text-indent: 0.1rem;
    transition: color 0s;
}

.card__qn--active {
    padding-bottom: 1.2rem;
    font-weight: 700;
}

.card__ans {
    font-size: 1.2rem;
    color: #787887;
    display: none;
}

.card__ans--long {
    font-size: 1.1rem;
    height: 3rem;
}

.card__ans--active {
    display: block;
}

.card__icon {
    position: absolute;
    top: 2.3rem;
    right: 1.6rem;
    transition: transform 0.2s;
}

.card__icon--active {
    transform: rotate(180deg);
}

.card__box:hover .card__qn {
    color: #f47b56;
}

.card__box:hover .card__qn--active {
    color: #1e1f36;
}

/* MEDIA QUERIES */

/* 960/16=60 */
@media only screen and (max-width: 60em) {
    html {
        font-size: 9px;
    }
}

/* 848/16=53 */
@media only screen and (max-width: 53em) {
    html {
        font-size: 8px;
    }
}

/* 752/16=47 */
@media only screen and (max-width: 47em) {
    html {
        font-size: 6.9px;
    }
}

/* 640/16=40 */
@media only screen and (max-width: 40em) {
    html {
        font-size: 6px;
    }
}
